---
interface Props {
    linkTo?: string;
    title: string;
}

const { title } = Astro.props;
---

<button
    title={`${Astro.props.title}`}
    class="transition duration-300 px-6 py-2 rounded-xl border-2 border-amber-600 text-gray-900 hover:border-amber-900 hover:bg-amber-900 hover:text-white hover:scale-105 hover:cursor-pointer"
    type="button"
>
    <a href={`${Astro.props.linkTo}`}>{title}</a>
</button>
