---
import Button from "../shared/Button.astro";
---

<section
  class="py-20 bg-slate-700"
>
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="flex flex-col mb-16 sm:text-center sm:mb-0">
      <div
        class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12"
      >
        <h1
          class="max-w-lg mb-6 font-sans text-4xl font-bold leading-none tracking-tight text-white sm:text-5xl md:mx-auto"
        >
          Transforming Your Business with Cutting-Edge Technology
        </h1>
        <p class="text-base text-gray-50 md:text-lg">
          Unlock the potential of your organization with our innovative
          technology solutions. Partner with us to streamline processes, enhance
          productivity, and drive growth.
        </p>
      </div>
      <div>
        <Button title="Ver más" linkTo="services">

        </Button>
      </div>
    </div>
  </div>
</section>
